.brand {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
  }
  
  .offert {
    padding-left: 1.25rem;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &__discount{
        background-color: red;
        color: white;
        border-radius: 25%;
        font-size: 15px;
        border-color: transparent;
        padding: 0 5px 0 5px;
        margin-left: 5px;
    }
  }
  
  .price {
    padding-left: 1.25rem;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .tachado{
      padding-left: 1.25rem;
      font-size: 15px !important;
      text-decoration: line-through !important;
      color:gray;
  }
  .center-items {
    display: flex;
    align-items: center !important;
    justify-content: center;
  }
  
  .withe{
      background-color: white;;
  }

  .result-background{
    background-color:#f8f8f8;
}
  .product-card{
    width: 15rem;
    margin: 10px 10px;
  }
  